.jumbotron{
    padding-top: 20px;
    padding-bottom: 20px;
}

.row{
    padding-bottom: 10px;
}

.boardContainer{
    display: inline-block;
    position: relative;
    width: 100%;
}

.dummy{
    margin-top: 100%;
}

.board{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}

.board .boardH{
    height: 5%;
}
.board .boardF{
    width: 9.5%;
    box-sizing: border-box;
    background-color: #0ad6ff;
    border: 1px solid #dddddd;;
}

.boardF:hover{
    border: 1px solid black;
}

.boardTable {
    background-color: #dddddd;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    height: 100%;
}

.boardTable .ship {
    background-color: #808080;
    border: 1px solid #808080;
}

.boardTable .empty {
    background-color: blue;
}

.boardTable .hit {
    background-color: red;
}

.boardTable .sunk {
    background-color: darkred;
    border: 1px solid darkred;
}

.boardTable .selected {
    background-color: yellow;
}

.fieldDiv:not(.ship):hover {
    border: 1px solid #000000;
}

#shipCounter span {
    height: 20px;
    width: 20px;
    background-color: #dddddd;
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
}
