<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="game-board">
    <template>
        <style>

            .boardContainer{
                display: inline-block;
                position: relative;
                width: 100%;
            }

            .dummy{
                margin-top: 100%;
            }

            .board{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 12px;
            }

            .board .boardH{
                height: 5%;
            }
            .board .boardF{
                width: 9.5%;
                box-sizing: border-box;
                background-color: #0ad6ff;
                border: 1px solid #dddddd;;
            }

            .boardF:hover{
                border: 1px solid black;
            }

            .boardTable {
                background-color: #dddddd;
                border: 1px solid black;
                border-collapse: separate;
                border-spacing: 0px;
                width: 100%;
                height: 100%;
            }

            .boardTable .ship {
                background-color: #808080;
                border: 1px solid #808080;
            }

            .boardTable .empty {
                background-color: blue;
            }

            .boardTable .hit {
                background-color: red;
            }

            .boardTable .sunk {
                background-color: darkred;
                border: 1px solid darkred;
            }

            .boardTable .selected {
                background-color: yellow;
            }

            .fieldDiv:not(.ship):hover {
                border: 1px solid #000000;
            }
        </style>
        <div class="boardContainer">
            <div class="dummy"></div>
            <div class="board">
                <table class="boardTable" id="boardTable">
                    <tr>
                        <td></td>
                        <td class="boardH">1</td>
                        <td class="boardH">2</td>
                        <td class="boardH">3</td>
                        <td class="boardH">4</td>
                        <td class="boardH">5</td>
                        <td class="boardH">6</td>
                        <td class="boardH">7</td>
                        <td class="boardH">8</td>
                        <td class="boardH">9</td>
                        <td class="boardH">10</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                    <tr>
                        <td>J</td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                        <td class="boardF empty"></td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        Polymer('game-board');
    </script>
</polymer-element>