<div class="alert alert-success" ng-show="game.CurrentPlayer == player.Name">
    <strong>Your turn!</strong> Click on a field to bomb the selected position.
</div>
<div class="alert alert-danger" ng-show="game.CurrentPlayer == enemy.Name">
    <strong>Enemy's turn!</strong> Wait until player {{enemy.Name}} has made his move.
</div>
<div class="row">
    <div class="col-sm-6">
        <p>{{enemy.Name}}:</p>
        <game-board data="{{enemy.Board}}" ng-click="bomb($event.originalEvent.detail.x, $event.originalEvent.detail.y)"></game-board>
    </div>
    <div class="col-sm-6">
        <p>you:</p>
        <game-board data="{{player.Board}}"></game-board>
    </div>
</div>
