
<div class="row" loading-screen-modal="showLoadingScreen">
    <div class="col-sm-8">
        <game-board data="{{board | mapToBoardColors }}" ng-click="fieldSelected($event)"></game-board>
    </div>
    <div class="col-sm-4">
        <div id="shipCounter">
            <div ng-repeat="shipLength in availableShips">
                <span ng-repeat="slot in range(shipLength)"></span>
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-8">

        <div id="lobbyBoardBottom">
            <button class="btn btn-default btn-sm" ng-click="randomShips()">random</button>
            <button class="btn btn-default btn-sm" ng-click="resetShips()">reset</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary"  ng-click="joinGame()">join game</button>
    </div>
</div>